@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './fonts.scss';

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #443E3E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number]{
  height: 48px!important;
  border-radius: 10px!important;
}